* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3rem;
}

.button {
    font-family: inherit;
    font-weight: bold;
    background-color: #1a73e8;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); */
}

.button:hover {
    background-color: #1a65c7;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

/* =============Navigation bar========== */

.main-header {
    background-color: #4285F4;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    /* color: #c20051; */
    /* font-size: 1.875rem; */

    /* font-weight: bold; */
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    /* width: 1.875rem; */
    height: 2.5rem;
    /* position: relative; */
}

.main-header__brand img {
    /* position: relative; */
    height: 100%;
    /* top: -0.3125rem; */
    /* border: 2px solid #0944a3; */
    /* text-shadow: 0px 0px 10px rgba(168, 218, 220, 0.5); */
}

.main-header a {
    padding: 0;
    margin: 0;
}

.main-nav {
    width: calc(100% - 6.125rem);
    display: none;
    text-align: right;
}

.main-nav__item {
    display: inline-block;
    margin-left: 1.25rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.1875rem 0;
}

.main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active{
    /* color: #d6edff; */
    border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    background-color: #0b5ac2;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    color: white;
    background-color: #1a54a1;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

/* ============Toggle============ */

.toggle-button {
    border-radius: 50%;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 .5rem;
    /* padding-top: 0;
    padding-bottom: 0; */
    vertical-align: middle;
    margin-right: 1rem;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #F1FAEE;
    display: block;
    margin: 0.6rem 0;
  } 
  
  .toggle-button:hover{
    background-color: rgba(245, 248, 254, 0.2);
  }

/* ========Mobile Nav========= */

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #06347e;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 2rem auto;
  }
  
  .mobile-nav__item a {
    font-size: 1.1rem;
  }

/* =============Footer========== */

.main-footer {
    background: #f0f0f0;
    padding: 2rem;
    margin-top: 3rem;
  }
  
  .main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .main-footer__link {
    display: block;
    margin: 1rem 0;
  }
  
  .main-footer__link a {
    color: rgba(61,61,61,.8);
    text-decoration: none;
  }

.main-footer__link a:hover,
.main-footer__link a:active{
    color: #4285F4;
}

/* ========Backdrop========= */

.backdrop {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
    display: none;
}

.open {
    display: block !important;
}



@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .main-footer__link {
        display: inline-block;
        margin: 0 1rem;
    }
    .main-footer__links{
        margin: auto;
    }

    .main-nav{
        display: inline-block;
    }
    
    .main-header {
        padding: 0.5rem 1rem;
    }
}