#product-overview {
    background: url("images/freedom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom 80%;
    background-origin: border-box;
    background-clip: border-box;
    width: 100%;
    height: 50vh;
    position: relative;
}

#product-overview h1 {
    color: #e4005f;
    font-size: 2.5rem;
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}

.plan {
    display: inline-block;
    background-color: #97ffb3;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}


.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}